{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		

    </head>
	<body>
		<!-- HEADER -->
	
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Change Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'seller_index' %}">Home</a></li>
							<li class="active">Change Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
                            {% if msg %}
                                <b style="color: blue;">{{msg}}</b>
                            {% endif %}
							<form name="signup" action="{% url 'change-password' %}" method="post">
                                {% csrf_token %}
                           
                            <div class="form-group">
								<input class="input" type="password" name="old_password" placeholder="Old Password">
							</div>

                            <div class="form-group">
								<input class="input" type="password" name="new_password" placeholder="New Password">
							</div>

                            <div class="form-group">
								<input class="input" type="password" name="cnew_password" placeholder="Confirm New Password">
							</div>

                           
                            <div class="form-group">
								<input class="btn btn-primary" type="submit" name="action" value="Change Password">
							</div>
							
							</div>
						</div>
                    </form>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						
						<!-- /Shiping Details -->

						<!-- Order notes -->
					
						<!-- /Order notes -->
					

					<!-- Order Details -->
					
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		
	</body>
</html>
{% endblock %}